[submodule "3rdparty/FingerprintIdentify"]
	path = 3rdparty/FingerprintIdentify
	url = https://github.com/ulua3809/FingerprintIdentify.git
[submodule "3rdparty/zygisk-module-template"]
	path = 3rdparty/zygisk-module-template
	url = https://github.com/5ec1cff/zygisk-module-template.git
