name: Android CI

on:
  push:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Get current time
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYYMMDD-HH
          utcOffset: "+08:00"
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build Riru modules
        run: ls riru/Riru-ModuleTemplate
      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.SIGNING_STORE_BASE64 }}
        run: echo $ENCODED_STRING | base64 -di > app/keystore.jks
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Build Riru modules
        run: cd ./riru && bash ./make.sh
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean ":app:assembleRelease"
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
      - name: Upload Apk
        uses: actions/upload-artifact@v2.2.0
        with:
          name: xposed.${{ steps.current-time.outputs.formattedTime }}
          path: app/build/outputs/apk/release/*.apk
      - name: Upload Riru Modules
        uses: actions/upload-artifact@v2.2.0
        with:
          name: magisk.${{ steps.current-time.outputs.formattedTime }}
          path: |
            riru/build/release/*.zip
            !riru/build/release/*-all-*.zip
      - name: Assign release version from version.properties to Env variable
        run: |
          cat ./app/build.gradle| grep versionName | sed -E 's/.+"(.+)".*/release_version=\1/g' >> $GITHUB_ENV
      - name: Echo release version from  Env variable
        run: |
          echo "${{ env.release_version }}"
      - name: Delete drafts
        uses: hugo19941994/delete-draft-releases@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release draft
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          name: "${{ env.release_version }}"
          tag_name: "${{ env.release_version }}-ci"
          files: |
            app/build/outputs/apk/release/*.apk
            riru/build/release/*.zip
          body: "[Github Action](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})"
      - name: Upload artifacts
        uses: bxb100/action-upload-webdav@v1
        with:
          webdav_address: ${{secrets.WEBDAV_ADDRESS}}
          webdav_username: ${{secrets.WEBDAV_USERNAME}}
          webdav_password: ${{secrets.WEBDAV_PASSWORD}}
          webdav_upload_path: "/${{ env.release_version }}"
          files: |
            app/build/outputs/apk/release/*.apk
            riru/build/release/*.zip